<html>
<head>
	<link rel="icon" type="image/gif" href="/img/icon.gif">
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>Categories</title>
</head>
<body>


<script>

function importXML()
{
	document.getElementById("action").value="import"
	document.forms['importForm'].submit()
}

</script>

<div id="main">
	<div id="left">
			<p><a href="/">Home</a></p><br/>
			<p><a href="/categories">Categories</a></p><br/>
			<p><a href="/vote">Vote</a></p><br/>
			<p><a href="/results">Results</a></p><br/>
			<p><a href="/static/help.html">Help</a></p><br/>
		</div>
	<div id="middle">
	
		<div id="search">
			<form id="searchForm" name="searchForm" action="/search" method="post">
				<input type="text" id="searchBox" name="searchBox"/>
				<input type="submit" value="search" id="searchButton">
			</form>
		</div>
		
		<div id="titleMessage">
		<h2>Showing Categories</h1>
		</div>
	
			<div id="errorMessage">
				{% if message %}
					<b>{{message}}</b>
				{% endif %}
			</div>
	
		<p>Available categories :- <br/></p>
		<ul id="listOfCategories">
	
			{% for category in categories %}
			<li>
	  			<a href="/items?category={{ category.name }}&owner={{category.key.parent.name}}">{{ category.name }}</a>
	  			<tr/><font size="1" color="red">&nbsp&nbsp&nbsp&nbsp Created by {{category.key.parent.name}}</font>
	  			
	  		</li>
	  		{% endfor %}
	
		</ul>
	</div>
	<div id="right">
	<a href="{{ logoutURL }}">Sign Out</a><br/><br/>
	
		<div id="addNewCategory">
		<hr/>	
		Add new Category
			<form action="/categories" method="post">
				Category Name :- <tr/><input type="text" name="category_name"/>
				<br/>
				<input type="Submit" value="Add" /> 
			</form>
		</div>
		
		<div id="importCategory">
		<hr/>
		<p>Import Category from file</p>
		<form name="importForm" method="post" action="/categories" enctype="multipart/form-data">
			<input type="file" name="chooseFile" />
			<input type="hidden" id="action" name="action" value=""/>
			<br/><input type="button" onclick="javascript:importXML()" value="Import"/>	
		</form>
		</div>
	</div>
</div>

</body>
</html>