<html>
<head>
	<link rel="icon" type="image/gif" href="/img/icon.gif">
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>Items</title>
</head>
<body>


<script>
function openChangeCategoryPopup(){
	var oldCategoryName = document.getElementById("linkCategoryName").innerHTML
	var newCategoryName=prompt("Please new name to your category.\nIf you wish to delete, enter empty string",oldCategoryName);
	if(newCategoryName != null)
	{
		if (newCategoryName != "")
		{
			if(newCategoryName != oldCategoryName)
			{
				if(newCategoryName != "delete")
				  window.location = "/items?category=" + oldCategoryName + "&newCategoryName=" + newCategoryName
				else
				  window.alert("Invalid Name")
			}
			else
				window.alert("Same as previous")
		}
		else
		{
		var r=confirm("Are you sure?");
			if (r==true)
				window.location = "/items?category=" + oldCategoryName + "&newCategoryName=delete"
		}
	}
	
}

function openChangeItemPopup(oldItemName){
	var category = document.getElementById("linkCategoryName").innerHTML
	var newItemName=prompt("Please new name to your Item.\nIf you wish to delete, enter empty string",oldItemName);
	if(newItemName != null)
	{
		if (newItemName != "")
		{
			if(newItemName != oldItemName)
			{
				if(newItemName != "delete")
				  window.location = "/items?category=" + category +"&oldItemName="+ oldItemName + "&newItemName=" + newItemName
				else
				  window.alert("Invalid Name")
			}
			else
				window.alert("Same as previous")
		}
		else
		{
		var r=confirm("Are you sure?");
			if (r==true)
				window.location = "/items?category="+category+"&oldItemName="+oldItemName+"&newItemName=delete" 
		}
	}
	
}

function exportCategories(owner,category) {
	
	
	
	document.getElementById('owner').value = owner
	document.getElementById('category').value = category
	document.getElementById('isExport').value = true
	document.forms['exportForm'].submit();
}

function addComment(itemName,categoryName,userEmail,obj){
	
	var par=obj.parentNode; 
	while(par.nodeName.toLowerCase()!='tr'){ 
	par=par.parentNode; 
	} 
	 
	
			//
			//var txtCommentIndex = ((par.rowIndex-1)/2) | 0
			var txtCommentIndex =  parseInt(((par.rowIndex-1)/2), 10)
			//alert(txtCommentIndex);
			
			document.getElementById('comment').value = document.getElementsByName("txtComment")[txtCommentIndex].value
			document.getElementById('itemName').value = itemName
			document.getElementById('categoryName').value = categoryName
			document.getElementById('userEmail').value = userEmail
	
			document.forms['addCommentForm'].submit();

}



</script>

	<div id="main">
		<div id="left">
			<p><a href="/">Home</a></p><br/>
			<p><a href="/categories">Categories</a></p><br/>
			<p><a href="/vote">Vote</a></p><br/>
			<p><a href="/results">Results</a></p><br/>
			<p><a href="/static/help.html">Help</a></p><br/>
		</div>
		<div id="middle">
		
		<div id="search">
			<form id="searchForm" name="searchForm" action="/search" method="post">
				<input type="text" id="searchBox" name="searchBox"/>
				<input type="submit" value="search">
			</form>
		</div>

		<div id="titleMessage">
		<h2>Showing Items </h1>
		</div>

		
		{% ifequal owner user.email %}
			<b><a href="Javascript:openChangeCategoryPopup()" id ="linkCategoryName">{{ category }}</a></b>
		{% else %}
			<b>{{ category }}</b>
		{% endifequal %}

		<br/>		
		<iframe src="//www.facebook.com/plugins/like.php?href=/items?category={{category}}&owner={{owner}}&layout=standard&show_faces=true&width=450&action=like&colorscheme=light&height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:330px; height:26px; padding-top:3px; padding-left:10px;" allowTransparency="true"></iframe>
		
		
		<div id="errorMessage">
		<br/>
				{% if message %}
					<b>{{message}}</b>
				{% endif %}
		</div>
		
		
		<br/><br/>
		{% if items.count  %}
		<form name="addCommentForm" action="/addComment" method="post" onsubmit="if(document.getElementById('itemName').value != ''){return true;}else{return false;}">
			<table border="1">
			<tr><th colspan="3">Item Name</th></tr>
				{% for item in items %}
				<tr>
	  				<td colspan="3">
	  						{% ifequal owner user.email %}
								<a href="javascript:openChangeItemPopup('{{item.name}}')">{{ item.name }} </a>
							{% else %}
								{{ item.name }}
							{% endifequal %}
	  				</td>
<!-- 	  				<td></td> -->
<!-- 	  				<td></td> -->
<!-- 	  				{{ item.wins }}{{ item.loses }} -->
	  				
  					<tr><td colspan="3">
  					<input type="text" name="txtComment" size="25" value="" />
					<input type="button" onClick="javascript:addComment('{{item.name}}','{{item.key.parent.name}}','{{user.email}}',this)"  name="btnComment" value="Comment" />
					</td></tr>
	  			</tr>
	  		{% endfor %}
	  		</table>
	  		<input type="hidden" name="itemName" id="itemName" value=""/>
	  		<input type="hidden" name="categoryName" id="categoryName" value=""/>
	  		<input type="hidden" name="userEmail" id="userEmail" value=""/>
	  		<input type="hidden" name="comment" id="comment" value=""/>
	  		<input type="hidden" name="owner" id="owner" value="{{ owner }}"/>
	  	</form>
	  	{% else%}
			No items in Category. Please add some.
		{% endif %}
		</div>
		<div id="right">
			<div id="logout">
				<a href="{{ logoutURL }}">Sign Out</a><br/><br/>
				<hr/>
			</div>
			
			{% ifequal owner user.email %}
	
				<div id="addCategory">
					
					Add new item to <b>"{{category}}"</b>
						<form action="/items?category={{ category }}&owner={{owner}}" method="post">
							Item Name :- <tr/><input type="text" name="item_name">
							<br/>
							<input type="Submit" value="Add" /> 
						</form>
					<hr/>
				</div>
			
			{% endifequal %}
			
			<div id="export">
				
				<form action="/items?category={{category}}&owner={{owner}}" method="post" name="exportForm">
					<input type="hidden" id="owner" name="owner" value=""/>
					<input type="hidden" id="category" name="category" value=""/>
					<input type="hidden" id="isExport" name="isExport" value=""/>
					
					<input type="button" onClick="javascript:exportCategories('{{owner}}','{{category}}')"  name="exportCategory" value="Export {{category}} to xml" />
				</form>
			</div>
			
		</div>
		
	</div>
</body>
</html>