<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>Items</title>
</head>
<body>

<script>
function openChangeCategoryPopup()
{
	var oldCategoryName = document.getElementById("categoryName").innerHTML
	var newCategoryName=prompt("Please new name to your category.\nIf you wish to delete, enter empty string",oldCategoryName);
	if(newCategoryName != null)
	{
		if (newCategoryName != "")
		{
			if(newCategoryName != oldCategoryName)
			{
				if(newCategoryName != "delete")
				  window.location = "http://localhost:8080/items?category=" + oldCategoryName + "&newCategoryName=" + newCategoryName
				else
				  window.alert("Invalid Name")
			}
			else
				window.alert("Same as previous")
		}
		else
		{
		var r=confirm("Are you sure?");
			if (r==true)
				window.location = "http://localhost:8080/items?category=" + oldCategoryName + "&newCategoryName=delete"
		}
	}
	
}

function openChangeItemPopup(oldItemName)
{
	var category = document.getElementById("categoryName").innerHTML
	var newItemName=prompt("Please new name to your Item.\nIf you wish to delete, enter empty string",oldItemName);
	if(newItemName != null)
	{
		if (newItemName != "")
		{
			if(newItemName != oldItemName)
			{
				if(newItemName != "delete")
				  window.location = "http://localhost:8080/items?category=" + category +"&oldItemName="+ oldItemName + "&newItemName=" + newItemName
				else
				  window.alert("Invalid Name")
			}
			else
				window.alert("Same as previous")
		}
		else
		{
		var r=confirm("Are you sure?");
			if (r==true)
				window.location = "http://localhost:8080/items?category="+category+"&oldItemName="+oldItemName+"&newItemName=delete" 
		}
	}
	
}

function exportCategories(owner,category) {
	
	document.getElementById('owner').value = owner
	document.getElementById('category').value = category
	document.getElementById('isExport').value = true
	document.forms['exportForm'].submit();
}

</script>

	<div id="main">
		<div id="left">
			<p><a href="./">Home</a></p><br/>
			<p><a href="./categories">Categories</a></p><br/>
			<p><a href="./vote">Vote</a></p><br/>
			<p><a href="./results">Results</a></p><br/>
		</div>
		<div id="middle">
		
		<div id="search">
			<form id="searchForm" name="searchForm" action="./search" method="post">
				<input type="text" id="searchBox" name="searchBox"/>
				<input type="submit" value="search">
			</form>
		</div>
		
			{% if message %}
			<p> {{message}} </p>
			{% endif %}
		
		You chose 
		{% ifequal owner user.email %}
			<a href="Javascript:openChangeCategoryPopup()" id="categoryName">{{ category }}</a>
		{% else %}
			{{ category }}
		{% endifequal %}
		
		<br/><br/>
			<table border="1">
			<tr><th>Item Name</th><th>Wins</th><th>Loses</th></tr>
				{% for item in items %}
				<tr>
	  				<td>
	  						{% ifequal owner user.email %}
								<a href="javascript:openChangeItemPopup('{{item.name}}')">{{ item.name }} </a>
							{% else %}
								{{ item.name }}
							{% endifequal %}
	  				</td>
	  				<td>{{ item.wins }}</td>
	  				<td>{{ item.loses }}</td>
	  			</tr>
	  		{% endfor %}
	  		</table>
		</div>
		<div id="right">
			<div id="logout">
				<a href="{{ logoutURL }}">Sign Out</a><br/><br/>
			</div>
			
			{% ifequal owner user.email %}
	
				<div id="addCategory">
					<hr/>
					Add new item to <b>"{{category}}"</b>
						<form action="./items?category={{ category }}" method="post">
							Item Name :- <tr/><input type="text" name="item_name">
							<br/>
							<input type="Submit" value="Add" /> 
						</form>
				</div>
			
			{% endifequal %}
			
			<div id="export">
				<hr/>
				<form action="./items" method="post" name="exportForm">
					<input type="hidden" id="owner" name="owner" value=""/>
					<input type="hidden" id="category" name="category" value=""/>
					<input type="hidden" id="isExport" name="isExport" value=""/>
					
					<input type="button" onClick="javascript:exportCategories('{{owner}}','{{category}}')"  name="exportCategory" value="Export {{category}} to xml" />
				</form>
			</div>
			
		</div>
		
	</div>
</body>
</html>