<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>Items</title>
</head>
<body>
	<div id="main">
		<div id="left">
			<p><a href="./">Home</a></p><br/>
			<p><a href="./categories">Categories</a></p><br/>
			<p><a href="./vote">Vote</a></p><br/>
			<p><a href="./results">Results</a></p><br/>
		</div>
		
		<div id="middle">
		
		<div id="search">
			<form id="searchForm" name="searchForm" action="./search" method="post">
				<input type="text" id="searchBox" name="searchBox"/>
				<input type="submit" value="search">
			</form>
		</div>
		
		<div id="errorMessage">
		{% if message %}
			<b>{{message}}</b>
		{% endif %}
		</div>
		
		{% if categories %}
			<p>Available categories :- <br/></p>
			<ul id="listOfCategories">
		
				{% for category in categories %}
				<li>
		  			<a href="./vote?category={{category.name}}&key={{category.key}}">{{category.name}}</a>
		  			<tr/><font size="1" color="red">&nbsp&nbsp&nbsp&nbsp owner = {{category.key.parent.name}}</font>
		  		</li>
		  		{% endfor %}
		
			</ul>

		{% else %}
			{% if item_1  %}
		
			<ul id="voteItems">
				
				<li>
		  			<a href="./vote?wKey={{item_1.key}}&lKey={{item_2.key}}&key={{key}}">
		    			{{ item_1.name }}
		  			</a>
		  		</li>
		  		
		  		<li>
		  			<a href="./vote?wKey={{item_2.key}}&lKey={{item_1.key}}&key={{key}}">
		    			{{ item_2.name }}
		  			</a>
		  		</li>
		
			</ul>
			
			<input type="button" onClick="window.location ='./vote?category={{category.name}}&key={{key}}' " value="Skip"/>
			
			{% endif %}
		{% endif %}
		</div>
		
		<div id="right">
			<a href="{{ logoutURL }}">Sign Out</a><br/><br/>
		</div>
		
	</div>
</body>
</html>